<div class="containerBigCard">
  <div class="bigCardPicture">
    <img
      src="https://i.stack.imgur.com/luaq2.png"
      alt=""
      srcset=""
      height="200px"
    />
  </div>
  
  <div class="bigCardTitle">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1> 
  </div>
  
  <div class="bigCardDescription">
    <p>
      <a href="#">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, quasi
        magnam, omnis minima nobis praesentium saepe veniam itaque ab blanditiis
        voluptates, esse nihil exercitationem optio. Ex recusandae fugiat eveniet
        consequatur!
      </a>
    </p>
  </div>
</div>
