.containerSmallCard{
    width: 600px;
    margin-bottom: 15px;
}

.containerSmallCardContent{
    display: flex;
    flex-direction: row;
}

.smallCardPicture > img{
    width: 200px;
    min-width: 200px;
    margin-right: 20px;
}

.smallCardTitle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerSmallCardSeparator{
    margin-top: 10px;
}